
fuzzywuzzy==0.18.0
google-api-core==2.24.0
google-api-python-client==2.157.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.66.0
gspread==6.1.4
Levenshtein==0.26.1
oauthlib==3.2.2
python-Levenshtein==0.26.1
twitchio==2.10.0
